.venv
.uv-cache
.env
app/.venv
app/.uv-cache
app/.env
app/models/
app/logs/
app/chroma/
app/graph.png
app/graph2.png
app/services/graph/graph.png
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
.git
.gitignore
.vscode
*.png